body.wp-admin.appearance_page_functions #wpfooter
{
	position: relative;
}

.tg_begin_import {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
}

.ocdi__response > p:first-child {
    display: none;
}

.pp_wrap .nav-tab
{
	border: 0;
    color: #444;
    clear: both;
    display: block;
    width: 140px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding: 8px 20px 8px 0;
    margin: 0px;
    text-shadow: none;
    background: transparent;
    left: 1px;
    position: relative;
    opacity: 0.3;
    font-weight: normal;
    font-size: 14px;
    outline: none;
    box-shadow: 0 0 0 0;
}

.pp_wrap h2
{
	font-size: 1.7em;
	margin-top: 37px;
	padding-bottom: 5px;
	margin-bottom: 0;
}

.pp_wrap h2 span
{
	font-size :13px;
	margin-left: 10px;
}

.pp_wrap label h2
{
	margin: 0 0 30px 0;
    font-size: 12px;
    text-align: left;
    letter-spacing: 2px;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #e1e1e1;
    text-transform: uppercase;
}

.pp_wrap h2 span.pp_version,
.pp_version
{
	font-size :10px;
	margin-left: 15px;
	display: inline-block;
    background: #23282d;
    color: #fff;
    padding: 3px 13px 3px 13px;
    border-radius: 25px;
	top: -2px;
    position: relative;
}

.pp_wrap .nav-tab:first-child
{
	margin-top: 8px;
	border-top: 0;
}

.pp_wrap .nav-tab-active, .pp_wrap .nav-tab:hover
{ 
	z-index: 9;
	opacity: 1;
}

.pp_wrap .nav-tab:active
{
	outline: none;
	-moz-outline-style: none;
	opacity: 1;
}

.pp_wrap .nav-tab-active:after 
{
    right: 0;
    border: 8px solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #fff;
    top: 50%;
    margin-top: -8px;
}

.pp_wrap .nav-tab span.dashicons
{
	margin-right: 10px;
	position: relative;
	top: 2px;
}

:-moz-any-link:focus {
  outline: none;
}

.pp_wrap
{
	margin: 0;
	width: 100%;
	float: left;
}

.rm_wrap{
	width: 100%;
	margin: 17px 0 0 0;
	overflow-x: hidden;
}

.header_wrap
{
	padding: 0 20px 0 0;
}

.rm_section{
	display: none;
	background: transparent;
}

#pp_panel_general.rm_section {
	display: block;
}

.rm_options
{
	margin-top: -18px;
}

.rm_opts label{
	font-weight:700;
	width:100%;
	clear:both;
	padding: 0 0 5px 0;
	float: left;
	font-size: 14px;
}

.rm_opts small.description{
	display:block;
	width: 300px;
	padding: 0;
	color:#999;
	font-size: 12px;
	float: left;
}

.rm_opts small.description:empty1
{
	display: none;
}

.rm_opts input[type="text"], .rm_opts input[type="password"]{
	width: calc(100% - 340px);
	padding: 12px;
	float: right;
	margin-top: -20px;
	border-radius: 5px;
	border: 0;
	background: #f0f0f0;
	box-shadow: 0 0 0;
}

.rm_opts input[type="file"]
{
	width: 280px;
}
.rm_opts input[type="file"]#pp_import_current
{
	width: 220px;
	margin-right: 10px;
	background:#f0f0f0;
	padding: 6px;
	margin-top: -1px;
}

.rm_input
{
	padding: 30px;
}

#pp_home_section.rm_input,
#pp_registration_section.rm_input,
#pp_import_demo_notice_section.rm_input
{
	padding-top: 10px;
}

#pp_import_demo_notice_section.rm_input
{
	padding-bottom: 10px;
}

#pp_import_demo_content_section.rm_input
{
	padding-top: 0;
}

.rm_input textarea{
	width: calc(100% - 340px);
	height: 200px;
	padding:5px;
	border-radius: 5px;
	border: 0;
	background: #f0f0f0;
	margin-top: 5px;
	float: right;
	box-shadow: 0 0 0;
	margin-top: -20px;
}
.rm_input textarea, .rm_input .CodeMirror
{
	width: calc(100% - 340px);
	height: 200px;
	font-size:12px;
	padding: 8px;
	float: right;
	box-sizing: border-box;
	border-radius: 5px;
}
.rm_input .CodeMirror
{
	margin-top: -20px;
}
.rm_input .CodeMirror
{
	background: #f0f0f0;
	height: 200px;
}
.rm_title h3 {
	cursor:pointer;
	font-size:1em;
	margin:0;
	font-weight:bold;
	color:#232323;
	float:left;
	width:80%;
	padding:14px 4px;
	text-shadow: 0 1px 1px #fff;
}

.rm_title{
	cursor:pointer;
	border-bottom:1px solid #ddd;
	background:#eee;
	padding:0;
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#ebebeb), to(#f9f9f9));
	text-shadow: 0 1px 1px #ffffff;
	display: none;
}

.rm_title h3 img.inactive{
	margin:-8px 10px 0 2px;
	width:32px;
	height:32px;	
	background:url('images/pointer.png') no-repeat 0 0;
	float:left;
	display: none;
}

.rm_title h3 img.active{
	margin:-8px 10px 0 2px;
	width:32px;
	height:32px;	
	background:url('images/pointer.png') no-repeat  0 -32px;
	float:left;
}
		
.rm_title h3:hover img{

}

.rm_title span.submit{
	display:block;
	float:right;
	margin:0;
	padding:0;
	width:15%;
	padding:14px 0;
}

.clearfix{
	clear:both;
}

.rm_table th, .rm_table td{
	border:1px solid #bbb;
	padding:10px;
	text-align:center;
}

.rm_table th, .rm_table td.feature{
	border-color:#888;
	}
	
.rm_list
{
	margin: 20px 0 0 20px;
}

.iPhoneCheckContainer {
  position: relative;
  height: 27px;
  cursor: pointer;
  overflow: hidden;
  float: left;
  margin-top: 5px;
   }
  .iPhoneCheckContainer input {
    position: absolute;
    top: 5px;
    left: 30px;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); }
  .iPhoneCheckContainer label {
    white-space: nowrap;
    font-size: 12px;
    line-height: 17px;
    font-weight: bold;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    display: block;
    height: 27px;
    position: absolute;
    width: auto;
    top: 0;
    padding-top: 5px;
    overflow: hidden; }
  .iPhoneCheckContainer, .iPhoneCheckContainer label {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none; }

.iPhoneCheckDisabled {
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); }

label.iPhoneCheckLabelOn {
  color: white;
  background: url('images/iphone-style-checkboxes/on.png?1282083753') no-repeat;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
  left: 0;
  padding-top: 5px; }
  label.iPhoneCheckLabelOn span {
    padding-left: 8px; }
label.iPhoneCheckLabelOff {
  color: #8b8b8b;
  background: url('images/iphone-style-checkboxes/off.png?1282083753') no-repeat right 0;
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6);
  text-align: right;
  right: 0; }
  label.iPhoneCheckLabelOff span {
    padding-right: 8px; }

.iPhoneCheckHandle {
  display: block;
  height: 27px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  background: url('images/iphone-style-checkboxes/slider_left.png?1282083753') no-repeat;
  padding-left: 3px; }

.iPhoneCheckHandleRight {
  height: 100%;
  width: 100%;
  padding-right: 3px;
  background: url('images/iphone-style-checkboxes/slider_right.png?1282083753') no-repeat right 0; }

.iPhoneCheckHandleCenter {
  height: 100%;
  width: 100%;
  background: url('images/iphone-style-checkboxes/slider_center.png?1282083753'); }



.jslider .jslider-bg i,
.jslider .jslider-pointer
{ background: url(images/jslider.png) no-repeat 0 0; display: block;  }

.jslider { display: block; width: 100%; height: 1em; position: relative; top: 1.5em; font-family: Arial, sans-serif; margin-bottom: 20px; }
.jslider table { width: 100%; border-collapse: collapse; border: 0; }
.jslider td, .jslider th { padding: 0; vertical-align: top; text-align: left; border: 0; }

.jslider table,
.jslider table tr,
.jslider table tr td { width: 100%; vertical-align: top; }

.jslider .jslider-bg { position: relative; }
.jslider .jslider-bg i { height: 5px; position: absolute; font-size: 0; top: 0; }
.jslider .jslider-bg .l { width: 50%; background-position: 0 0; left: 0; }
.jslider .jslider-bg .r { width: 50%; left: 50%; background-position: right 0; }
.jslider .jslider-bg .v { position: absolute; width: 60%; left: 20%; top: 0; height: 5px; background-position: 0 -20px; }

.jslider .jslider-pointer { width: 13px; height: 15px; background-position: 0 -40px; position: absolute; left: 20%; top: -4px; margin-left: -6px; cursor: pointer; cursor: hand; }
.jslider .jslider-pointer-hover { background-position: -20px -40px; }
.jslider .jslider-pointer-to { left: 80%; }

.jslider .jslider-label { font-size: 9px; line-height: 12px; color: black; opacity: 0.4; white-space: nowrap; padding: 0px 2px; position: absolute; top: -18px; left: 0px; }
.jslider .jslider-label-to { left: auto; right: 0; }

.jslider .jslider-value { font-size: 11px; white-space: nowrap; padding: 1px 2px 0; position: absolute; top: -19px; left: 20%; background: white; line-height: 10px; -moz-border-radius: 2px; -webkit-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
.jslider .jslider-value-to { left: 80%; }

.jslider .jslider-label small,
.jslider .jslider-value small { position: relative; top: -0.4em; }

.jslider .jslider-scale { position: relative; top: 9px; }
.jslider .jslider-scale span { position: absolute; height: 5px; border-left: 1px solid #999; font-size: 0; }
.jslider .jslider-scale ins { font-size: 9px; text-decoration: none; position: absolute; left: 0px; top: 5px; color: #999; }

.jslider-single .jslider-pointer-to,
.jslider-single .jslider-value-to,
.jslider-single .jslider-bg .v,
.jslider-limitless .jslider-label
{ display: none; }


  .jslider_blue .jslider-bg i,
  .jslider_blue .jslider-pointer
  { background-image: url(images/jslider.blue.png); }
  
  
  .jslider_round .jslider-bg i,
  .jslider_round .jslider-pointer
  { background-image: url(images/jslider.round.png); }

  .jslider_round .jslider-pointer { width: 17px; height: 17px; top: -6px; margin-left: -8px; }
  
.jslider_round_plastic .jslider-bg i,
  .jslider_round_plastic .jslider-pointer { background-image: url(images/jslider.round.plastic.png); }

  .jslider_round_plastic .jslider-pointer { width: 18px; height: 18px; top: -7px; margin-left: -8px; }
  
  .jslider_plastic .jslider-bg i,
  .jslider_plastic .jslider-pointer { background-image: url(images/jslider.plastic.png); }

input[type="radio"]
{
	vertical-align: top;
	margin-top: 13px;
	margin-right: 5px;
}

.getting_started_desc
{
	font-size: 14px;
	line-height: 1.7;
	margin-top: 30px;
}

.one_half
{
	width: 48%;
	float: left;
	margin-bottom: 30px;
}

.one_half.last
{
	width: 48%;
	float: right;
}

.one_half:nth-child(2n+1)
{
    clear: both;
}

.one_half.nomargin
{
	margin-bottom: 10px;
}

.step_icon
{
	width: 120px;
	height: 120px;
	float: left;
	text-align: center;
}

.step_info
{
	width: calc(100% - 140px);
	float: right;
	text-align: left;
	margin-top: 10px;
	line-height: 1.7;
}

.step_icon a
{
	width: 100%;
	height: 100%;
	display: block;
	border: 1px solid #f1f1f1;
	border-radius: 3px;
	background: #f1f1f1;
	text-decoration: none;
	padding: 20px;
	box-sizing: border-box;
	color: #23282d;
}

.step_icon a:hover
{
	background: #23282d;
	border-color: #23282d;
	color: #fff;
}

.step_icon a i
{
	font-size: 24px;
	margin-top: 5px;
}

.step_icon a .step_title
{
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 10px;
	font-size: 10px
}

.pp_sortable, .ppb_sortable, .pp_skin_mgmt 
{ 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 100%; 
}

.pp_sortable li, .ppb_sortable li, .pp_skin_mgmt li 
{ 
	background: #fff; 
	margin: 5px 0 5px 0;
	padding: 1em; 
	padding-left: 0; 
	padding-right: 0; 
	font-size: 1em; 
	color: #000; 
	cursor: move; 
	border: 1px solid #ddd;
	float: left;
	width: 100%;
	box-sizing: border-box;
}

.pp_sortable li
{
	padding: 1em;
}

.pp_sortable li div.title, .pp_skin_mgmt li div.title, .ppb_sortable li div.title
{
	float: left;
	max-width: 75%;
	font-size: 10px;
	color: #999;
	font-style: italic;
	width: calc(100% - 50px);
}

.pp_sortable li div.title
{
	font-style: normal;
	color: #555;
}

.wp-core-ui .button-primary#save_ppsettings,
.button-primary.pp_import_content_button,
.button-primary.pp_import_content_button:hover,
.button-primary.pp_get_styling_button,
.button-primary.pp_get_styling_button:hover,
.wp-core-ui .button-primary#save_envato_personal_token,
.tg_begin_import a.button.button-large
{
	background: #1C58F6;
	box-shadow: 0 0 0;
	border: 0;
	border-radius: 25px;
	padding: 0 20px 2px;
	line-height: 36px;
    height: 36px;
    position: relative;
    outline: none;
    box-shadow: 0 0 0 #000;
}

.wp-core-ui .button-primary#save_envato_personal_token
{
	margin: 10px 0 0 35px;
}

.tg_notice
{
	padding: 30px;
	text-align: center;
	background: #f0f0f0;
	font-size: 15px;
	line-height: 1.5em;
	margin: -10px 0 0 0;
	border-radius: 5px;
}

.tg_notice .dashicons
{
	color: #1C58F6;
}1

#ppb_page_content.live .ppb_sortable li div.title
{
	max-width: 100%;
	width: 100%;
	width: calc(100% - 40px);
	line-height: initial;
}

.ppb_sortable li div.item_action
{
	display: none;
	position: absolute;
    right: 0;
    top: 0;
}

#ppb_page_content.live .ppb_sortable li div.item_action
{
	display: none;
}

.ppb_sortable li:hover div.item_action
{
	display: block;
}

.pp_sortable li a.remove
{
	color: #555555;
	float: right;
	margin-right: 5px;
}

.ppb_sortable li.one_half div.title, .ppb_sortable li.one_third div.title, .ppb_sortable li.two_third div.title, .ppb_sortable li.one_fourth div.title, .ppb_sortable li.one_half div.item_action, .ppb_sortable li.one_third div.item_action, .ppb_sortable li.two_third div.item_action, .ppb_sortable li.one_fourth div.item_action
{
	float: none;
	width: 100%;
	max-width: 100%;
	max-width: 70%;
	text-align: left;
}

.ppb_sortable li .shortcode_title
{
	font-weight: 600;
	color: #444;
	font-size: 12px;
	margin-right: 7px;
	margin-top: 5px;
	display: block;
	letter-spacing: 0;
	text-transform: none;
	font-style: normal;
}

.pp_sortable li a.button, .ppb_sortable li a.button
{
	float: left;
	padding: 3px;
	margin-right: 5px;
	padding: 3px 5px 3px 5px;
	margin-right: 5px;
	line-height: 12px;
	height: 20px;
	line-height: 26px;
}

.check_thumb
{
	max-width: 100px;
	max-height: 30px;
}

#event_date_raw_wrapper
{
	display: none;
}

.pp_sample_text
{
	margin: 10px 0 10px 0;
	padding: 15px;
	background: #ebebeb;
	font-size: 20px;
	text-align: center;
}

#pp_panel
{
	width: 160px;
	float:left;
}

.rm_opts
{
	float:left;
	width: calc(100% - 180px);
	min-height: 340px;
	background: #fff;
	padding: 0;
	box-sizing: border-box;
	margin-top: 0;
	border-radius: 5px;
}

.wp-core-ui .header_wrap input.button, .wp-core-ui .header_wrap input.button-primary
{
	border-radius: 25px;
	font-size: 13px;
	padding: 0 20px 2px;
}

#current_sidebar
{
	margin: 15px 0 0 5px;
}

.ver_mid
{
	vertical-align: middle;
	margin: -2px 10px 0 0;
}

#current_sidebar,  #current_ggfont
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	margin-top: 8px;
}

#current_sidebar li,  #current_ggfont li
{ 
	background: #fff; 
	margin: 5px 0 5px 0;
	padding: 0.5em; 
	padding-left: 0; 
	padding-right: 0; 
	font-size: 1em; 
	color: #000; 
	border: 1px solid #ddd;
	float: left;
	width: 100%;
	box-sizing: border-box;
	position: relative;
	border-radius: 5px;
	padding: 1em;
}

#current_sidebar li div.title
{
	float: left;
    width: auto;
    line-height: 34px;
}

#current_sidebar li .sidebar_del
{
	float: right;
    display: block;
    margin-left: 10px;
    text-align: center;
    background: #FF3B30;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
}

#current_sidebar li .sidebar_del .dashicons 
{
    line-height: 30px;
    text-decoration: none;
}

.pp_widget_description
{
	color: #999;
	font-size: 11px;
	opacity: 0.7;
    margin-top: 5px;
    margin-bottom: 10px;
}

.pp_meta_option
{
	padding: 10px;
	box-sizing: border-box;
	border-top: 1px solid #eee;
	width: 100%;
	padding-top: 20px;
}

.pp_meta_option.template
{
	width: 100%;
}

.pp_meta_option:not(.page).key1, .pp_meta_option.page.key100
{
	border-top: 0;
}

.pp_meta_option .meta_title_wrapper
{
	display: inline-block;
	width: 25%;
	margin-right: 20px;
}

#side-sortables .pp_meta_option .meta_title_wrapper
{
	width: 100%;
	margin-right: 0;
	margin-bottom: 10px;
}

#side-sortables .pp_meta_option .meta_title_field
{
	width: 100%;
	margin-bottom: 10px;
}

.pp_meta_option.template .meta_title_wrapper
{
	display: block;
	width: 100%;
	margin: 0;
}

.pp_meta_option.template .meta_title_field
{
	display: block;
	width: 100%;
	margin: 10px 0 0 0;
}

.pp_meta_option .meta_title_field
{
	display: inline-block;
	width: calc(75% - 20px);
	vertical-align: top;
}

.meta_template_list
{
	list-style: none;
	margin: 0;
	display: inline-block;
	width: 100%;
}

.meta_template_list li
{
	cursor: pointer;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	width: calc(25% - 10px);
	position: relative;
	box-sizing: border-box;
	padding: 10px;
	background: #f9f9f9;
	-webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.meta_template_list li:nth-child(4n+1)
{
	clear: both;
}

#side-sortables .meta_template_list li
{
	width: 100%;
	margin-right: 0;
}

.meta_template_list li.checked
{
	background: #23282d;
	color: #fff;
}

.meta_template_list li .template_title
{
	text-align: center;
	font-size: 10px;
	width: 100%;
	margin-top: 0;
	opacity: .7;
}

.meta_template_list li.checked .template_title
{
	opacity: 1;
}

.meta_template_list li img
{
	width: 100%;
	height: auto;
	box-shadow: 0 0 0;
	margin-bottom: 15px;
}

.meta_template_list li:hover:not(.checked)
{
	zoom: 1;
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    -o-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

.meta_template_list li .meta_template_check, .meta_template_list li .meta_template_link
{
	position: absolute;
    left: 20px;
    top: 20px;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: 600;
    z-index: 9;
    border-radius: 0;
    min-height: 0;
    line-height: 21px;
    background: #2bb213;
    border-radius: 250px;

    -ms-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    
    transition: all 0.1s ease;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    
    box-shadow: 0 0 0;
}

.meta_template_list li .meta_template_link
{
	left: auto;
	right: 20px;
	background: #0073aa;
	font-size: 10px;
}

.meta_template_list li.checked .meta_template_check, .meta_template_list li:hover .meta_template_link
{
	-ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}

#poststuff .inside #post_option_post_layout
{
	border-top: 0;
}

.pp_meta_option select
{
	width: 100%;
}

.pp_widget_description strong
{
	color: #444;
}

.pp_widget_hr
{
	border: 0;
	border-top: 1px solid #DFDFDF;;
	border-bottom: 1px solid #fff;
}

#pp_loading
{
	padding: 70px 20px 20px 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	background: #464646;
	box-shadow: rgba(0,0,0, 0.4) 0px 0px 5px;  
    -moz-box-shadow: rgba(0,0,0, 0.4) 0px 0px 5px;  
    -webkit-box-shadow: rgba(0,0,0, 0.4) 0px 0px 5px;
	position: fixed;
	top: 40%;
	left: 49%;
	color: #fff;
	text-align: center;
	display: none;
}

#pp_success
{
	padding: 20px 15px 20px 15px;
	background: #0073aa;
	position: fixed;
	top: 40%;
	left: 49%;
	color: #fff;
	text-align: center;
	display: none;
	z-index: 9999;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}

.primary_button
{
	background: #4db2ec !important;
	border: 0 !important;
	color: #fff !important;
	text-shadow: none !important;
	height: 30px !important;
	line-height: 30px !important;
	padding-left: 15px !important;
	padding-right: 15px !important;
	text-transform: uppercase;
}

.primary_button:active
{
	background: #71d5fe !important;
}

.secondary_button
{
	background: #999 !important;
	border: 0 !important;
	color: #fff !important;
	text-shadow: none !important;
	height: 30px !important;
	line-height: 30px !important;
	padding-left: 15px !important;
	padding-right: 15px !important;
	text-transform: uppercase;
}

.rm_opts select
{
	min-width: 270px;
	margin-top: 10px;
	background: #fff;
	border: 1px solid #ccc;
	height: 37px;
    line-height: 37px;
    width: calc(100% - 340px);
    float: right;
    margin-top: -20px;
}

.rm_opts select.pp_sortable_select
{
	float: left;
	margin-right: 5px;
	margin-top: 0;
}

.pp_sortable_button.button
{
	height: 37px;
    line-height: 37px;
    vertical-align: baseline;
    top: 9px;
    position: relative;
}

textarea.blur, input[type=text].blur
{
	color: #ccc;
}

.meta_post_img
{
	max-width: 100%;
	height: auto;
	margin-bottom: 10px;
}

.meta_post_img.hidden, .meta_post_img_remove.hidden
{
	display: none;
}

#pp_system_section .widefat tbody td div.tg_error, #pp_system_section .widefat tbody td span.tg_error, .tg_error
{
	color: #FF3B30;
}

.tg_valid
{
	color: #4CD964;
}

/**
	Demo Styles
**/

.demo_list
{
	list-style: none;
	display: block;
	margin: 0;
}

.demo_list > li
{
	display: inline-block;
	position: relative;
	width: 12%;
	height: auto;
	overflow: hidden;
	cursor: pointer;
	padding: 0;
	box-sizing: border-box;
	padding: 10px;
	text-align: center;
	font-size: 11px;
}

.demo_list > li:hover, .demo_list > li.selected
{
	background: #f0f0f0;
	border-radius: 5px;
}

.demo_list > li .item_content_wrapper
{1
	width: 100%;
}

.demo_list > li .item_content_wrapper .item_content
{
	width: 100%;
	box-sizing: border-box;
}

.demo_list > li .item_content_wrapper .item_content .item_thumb
{
	width: 50px;
	height: 50px;
	max-width: 100%;
	position: relative;
	line-height: 0;
	border-radius: 250px;
	margin: auto;
}

.demo_list > li .item_content_wrapper .item_content .item_thumb img
{
	max-width: 100%;
	height: auto;
}

.demo_list > li .item_content_wrapper .item_content .item_thumb img
{
	width: 100%;
	height: auto;
	line-height: 0;
}

.demo_list li > .item_content_wrapper .item_content .item_content
{
	width: 100%;
	text-align: center;
	padding-top: 10px;
	float: left;
}

.demo_list li > .item_content_wrapper .item_content .item_content .title
{
	float: left;
	width: 100%;
	line-height: 2;
}

.meta_date_raw
{
	display: none;
}

#ppb_module_wrapper
{
	list-style: none;
	width: 100%;
	margin-top: 20px;
}

#ppb_module_wrapper li
{
	width: 79px;
	height:130px;
	vertical-align: top;
	margin: 0;
	padding: 3px;
	display: inline-block;
	border: 1px solid #fff;
	cursor: pointer;
	text-align: center;
	font-size: 8px;
	
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

#ppb_module_wrapper li:hover
{
	border-color: #e1e1e1;
}

#ppb_module_wrapper li img
{
	width: 79px;
	height: 79px;
}

#ppb_module_wrapper li .builder_page_icon
{
	width: 77px;
	height: 77px;
	background: #f0f0f0;
	border: 1px solid #ebebeb;
}

#ppb_module_wrapper li .builder_page_icon span.dashicons
{
	line-height: 77px;
	font-size: 24px;
	color: #777;
}

#ppb_module_wrapper li.selected
{
	border-color: #000;
}

#ppb_sortable_add_button
{
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	height: 44px;
	line-height: 42px;
	border-radius: 0;
	border: 0;
	box-shadow: 0 0 0 0;
	margin-left: 0 !important;
	margin-bottom: 5px;
}

.tipsy-inner:empty { display: none !important; }
.tipsy { font-size: 10px; position: absolute; padding: 5px; z-index: 100000; }
  .tipsy-inner { background-color: #000; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; }

  /* Rounded corners */
  .tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
  
  /* Uncomment for shadow */
  /*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/
  
  .tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }
  
  /* Rules to colour arrows */
  .tipsy-arrow-n { border-bottom-color: #000; }
  .tipsy-arrow-s { border-top-color: #000; }
  .tipsy-arrow-e { border-left-color: #000; }
  .tipsy-arrow-w { border-right-color: #000; }
  
	.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
    .tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
    .tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
  .tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
  .tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
  .tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }
  
.ui-tabs .ui-tabs-nav li
{
	background: #f0f0f0;
	margin: 0;
	border: 1px solid #e1e1e1 !important;
	padding-top: 2px;
	top: 1px;
}

#ppb_tab .ui-widget-header
{
	border-bottom: 1px solid #e1e1e1;
}

#ppb_tab.ui-tabs .ui-tabs-nav li
{
	top: 2px;
}

.vertical.ui-tabs .ui-tabs-nav li
{
	width: 100%;
	clear: both;
}

.ui-tabs .ui-tabs-nav li:hover
{
	background: #fff;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected
{
	border: 1px solid #e1e1e1;
	border-top: 3px solid #e1e1e1;
}

.ui-tabs .ui-tabs-nav li.ui-state-active
{
	background: #fff !important;
	border-bottom: 1px solid #fff !important;
	outline: none;
	position: relative;
	z-index: 9;
}

.ui-tabs .ui-tabs-nav li.ui-state-active a
{
	outline: none;
}

.ui-tabs .ui-tabs-nav li a 
{
	padding: 8px 20px 7px 20px;
	outline: none;
}

.tabs .ui-tabs .ui-tabs-nav li
{
	font-weight: bold;
	text-shadow: 0 1px 1px #fff;
	display: block;	
}

.tabs .ui-tabs-panel
{
	border: 1px solid #e1e1e1;
	border-top: 0;
	margin:0;
	padding-top: 0em;
	background: #fff;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	z-index: 2;
	position: relative;
}

.tabs .ui-state-active a
{
	color: #333;
	font-weight: bold;
}

.ui-tabs.vertical li:first-child
{
	margin-left: 0;
}

#ppb_tab.ui-tabs .ui-tabs-panel
{
	padding: 0.5em;
}

.import_message, .update_message, .styling_message
{
	text-align: center;
	display: none;
}

.import_message_success, .update_message_success
{
	color: #6a863b;
}

.tg_loading
{
	-webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
    margin-right: 10px;
}

.ppb_inline_wrap
{
	margin: 0;
	width: 100%;
	max-width: 700px;
	background: #ebebeb;
	float: left;
	position: fixed;
	z-index: 9;
	top: 30px;
}

.ppb_inline_wrap h2
{
	font-size: 16px;
	font-weight: 600;
	display: block;
	float: left;
	width: 50%;
	padding-left: 20px;
}

.ppb_inline_option_wrap
{
	width: 100%;
	padding: 60px 20px 0 20px;
	box-sizing: border-box;
}

.ppb_inline_option
{
	margin-bottom: 5px;
	position: relative;
}

.ppb_inline_wrap h2
{
	float: left;
}

.ppb_inline_wrap .ppb_inline_save, .ppb_inline_wrap .button
{
	float: right;
	min-height: 44px;
	border-radius: 0;
	line-height: 44px;
	border: 0;
	box-shadow: 0 0 0 0;
	width: 22%;
	text-align: center;
	font-weight: 600;
}

.ppb_file_image
{
	max-height: 200px;
	display: block;
	margin: 5px 0 5px 0;
}

.ppb_inline_option select
{
	width: 100%;
}

.ppb_inline_option[type=text] .color_picker
{
	width: 94.5%;
}

body.wp-customizer #customize-theme-controls .control-section.open .accordion-section-title, #customize-theme-controls .control-section.open .accordion-section-title:after {
  color: #fff !important;
}

.customize-control-image img
{
	width: auto;
}

#customize-controls .description
{
	color: #999;
	font-size: 11px;
	font-style: normal;
}

.customize-control-checkbox label
{
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 5px;
	line-height: 24px;
}

.customize-control select
{
	margin-bottom: 15px;
}

.customize-control-radio-buttonset label.ui-state-active
{
	color: #fff !important;
}

.tg_system_status_wrapper
{
	background: #f9f9f9;
	padding: 20px;
	margin-bottom: 20px;
}

.tg_system_status_wrapper h4
{
	margin: 0;
}

.tg_system_status_wrapper > div
{
	color: #7ad03a;
	font-weight: bold;
}

.tg_system_status_wrapper > div:before
{
	font-family: 'FontAwesome';
	content: "\f00c";
	margin-right: 5px;
}

.tg_system_status_wrapper > div.tg_error, .tg_system_status_wrapper span.tg_error
{
	color: #dd3d36;
	font-weight: bold;
}

.tg_system_status_wrapper > div.tg_error:before
{
	font-family: 'FontAwesome';
	content: "\f12a";
	margin-right: 5px;
}

.wp-review-notice
{
	display: none;
}

.customize-control.customize-control-radio-buttonset .ui-button-text-only .ui-button-text 
{
    padding: .4em .4em;
}

#pp_system_section .widefat tbody td > div
{
	color: #7ad03a;
}

#pp_system_section .widefat tbody td> div:before
{
	font-family: 'FontAwesome';
	content: "\f00c";
	margin-right: 5px;
}

#pp_system_section .widefat tbody td div.tg_error, #pp_system_section .widefat tbody td span.tg_error
{
	color: #dd3d36;
}

#pp_system_section .widefat tbody td > div.tg_error:before
{
	font-family: 'FontAwesome';
	content: "\f12a";
	margin-right: 5px;
}

#pp_system_section .widefat th
{
	font-weight: 600;
}

#pp_system_section .widefat tbody tr:nth-child(even) 
{
	background: #f9f9f9;
}

#pp_system_section .widefat tbody td
{
	font-size: 12px;
}

#pp_system_section .widefat tbody tr td.title
{
	width: 30%;
}

#pp_system_section .widefat tbody tr td.help
{
	width: 20px;
}

#pp_system_section .widefat tbody tr td.value
{
	width: calc(70% - 20px);
}

.customize-control-kirki-color .wp-picker-container a.wp-color-result
{
	width: 100px;
}

#customize-theme-controls .accordion-section-content
{
	padding: 0;
}

li.customize-control
{
	padding: 12px;
	box-sizing: border-box;
}

li.customize-control.customize-control-title
{
	background: #fff;
	font-size: 10px;
	font-weight: 400;
	letter-spacing: 2px;
	padding: 5px 12px 5px 12px;
	box-sizing: border-box;
	margin: 10px 0 10px 0;
	text-transform: uppercase;
}

.pp_setting_logo_wrapper
{
	margin-top: 32px;
}

.wp-pointer-top .wp-pointer-arrow
{
	top: 2px;
}

.wp-pointer-left .wp-pointer-arrow-inner
{
	left: 2px;
}

#pp_import_content_button.button
{
	width: 100%;
	height: 38px;
}

.customize-section-title
{
	margin: 0;
}

#adminmenu .menu-icon-galleries div.wp-menu-image:before 
{
  content: '\f161';
}

/**
*
* Custom CSS for handle post options box
*
**/
#post_option_portfolio_video_id, #post_option_portfolio_mp4_url, #post_option_portfolio_link_url
{
	display: none;
}

#post_option_post_ft_gallery, #post_option_post_ft_vimeo, #post_option_post_ft_youtube
{
	display: none;
}
#customize-theme-controls .control-section .accordion-section-title:hover, #customize-theme-controls .control-section .accordion-section-title:focus, .control-section.control-panel>.accordion-section-title:after
{
	background: transparent !important;
}

/*  
#Mobile (Portrait)
================================================== 
*/

@media only screen and (max-width: 767px) {
	#pp_panel
	{
		width: 100%;
	}
	
	.pp_wrap .nav-tab:first-child
	{
		margin-top: 0;
	}
	
	.pp_wrap .nav-tab
	{
		display: inline-block;
		clear: none;
		width: auto;
	}
	
	.pp_wrap .nav-tab-active:after
	{
		display: none;
	}
	
	.rm_opts
	{
		width: calc(100% - 10px);
		margin-top: 20px;
	}
	
	.rm_opts small.description
	{
		width: 100%;
	}
	
	.rm_opts input[type="text"], .rm_opts input[type="password"], .rm_input textarea, .rm_input .CodeMirror
	{
		width: 100%;
		clear: both;
		margin-top: 10px;
	}
	
	.rm_section .switchery
	{
		margin-left: 0;
		clear: both;
		margin-top: 10px;
	}
	
	.wp-core-ui .header_wrap input.button, .wp-core-ui .header_wrap input.button-primary
	{
		padding: 6px 14px;
	}
	
	.styling_list li
	{
		width: 100%;
	}
	
	#pp_home_section .one_half
	{
		width: 100%;
	}
	
	#pp_advance_clear_cache
	{
		width: 100%;
		clear: both;
		margin-top: 10px;
		text-align: center;
	}
}